.r-a{
	animation: a-ra 1s infinite linear;
}
@keyframes a-ra{
	30%{
		transform: scale(.9,.9);
	}
	60%{
		transform: scale(1.6,1.6);
	}
}
.r-b{
	animation: a-rb .6s infinite linear;
}
@keyframes a-rb{
	to{
		transform: rotate(180deg);
	}
}
.r-c{
	animation: a-rc .6s infinite linear;
}
@keyframes a-rc{
	to{
		transform: rotate(-180deg);
	}
}
.r-d{
	animation: a-rd 1.4s infinite ease-in-out alternate;
}
@keyframes a-rd{
	to{
		transform: rotate(1080deg);
	}
}
.r-e{
	animation: a-re .4s infinite linear;
}
@keyframes a-re{
	50%{
		opacity: 0;
	}
}
.r-f{
	animation: a-rf .6s infinite linear;
}
@keyframes a-rf{
	to{
		transform: rotate(360deg);
	}
}
.r-g{
	animation: a-rg .6s infinite linear;
}
@keyframes a-rg{
	to{
		transform: rotate(-360deg);
	}
}
.r-h{
	animation: a-rh 7s infinite linear;
}
@keyframes a-rh{
	to{
		transform: rotate(360deg);
	}
}
.r-i{
	animation: a-ri 1.8s infinite linear;
}
@keyframes a-ri{
	to{
		transform: rotate(-360deg);
	}
}
.r-j{
	animation: a-rj 1.4s infinite ease;
}
@keyframes a-rj{
	25%{
		border-color: rgba(0,255,255,.6) rgba(0,255,255,.05);
	}
	75%{
		border-color: rgba(0,255,255,.05) rgba(0,255,255,.6);
	}
}
.r-k{
	animation: a-rk 1.4s infinite linear;
}
@keyframes a-rk{
	to{
		transform: rotate(360deg);
	}
}
.r-l{
	animation: a-rl .9s infinite linear;
}
@keyframes a-rl{
	25%{
		border-style: dotted;
	}
	55%{
		border-style: dashed;
	}
	75%{
		border-style: solid;
	}
}
.r-m{
	animation: a-rm .55s infinite ease-in-out;
}
@keyframes a-rm{
	from{
		transform: scale(1,1);
	}
	60%{
		transform: scale(.9,.9);
	}
}
.r-n{
	animation: a-rn 6s infinite linear;
}
@keyframes a-rn{
	to{
		transform: rotate(-360deg);
	}
}
.r-o{
	animation: a-ro 4.5s infinite linear;
}
@keyframes a-ro{
	to{
		transform: rotate(360deg);
	}
}
.r-p{
	animation: a-rp 6s infinite linear;
}
@keyframes a-rp{
	80%{
		transform: rotate(900deg);
	}
}
.r-q{
	animation: a-rq 3.5s infinite linear;
}
@keyframes a-rq{
	to{
		transform: rotate(-360deg);
	}
}
.r-r{
	animation: a-rr .5s infinite ease-in-out;
}
@keyframes a-rr{
	50%{
		border-width: 2.5vh;
	}
}
.r-s{
	animation: a-rs 2.5s infinite ease-in-out;
}
@keyframes a-rs{
	5%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(-35deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(35deg);
	}
	95%{
		transform: rotate(0deg);
	}
}
.r-t{
	animation: a-rt .8s infinite linear;
}
@keyframes a-rt{
	to{
		transform: rotate(360deg);
	}
}
.r-u{
	animation: a-ru .8s infinite linear;
}
@keyframes a-ru{
	to{
		transform: rotate(-360deg);
	}
}
.r-v{
	animation: a-rv 16s infinite linear;
}
@keyframes a-rv{
	to{
		transform: rotate(360deg);
	}
}
.r-w{
	animation: a-rw 60s infinite linear;
}
@keyframes a-rw{
	to{
		transform: rotate(-360deg);
	}
}
.r-x{
	animation: a-rx 8s infinite linear;
}
@keyframes a-rx{
	to{
		transform: rotate(-360deg);
	}
}
.r-y{
	animation: a-ry 1s infinite ease-in-out;
}
@keyframes a-ry{
	from{
		transform: scale(1.1,1.1);
		opacity: 0;
	}
	20%{
		opacity: .5;
	}
	to{
		transform: scale(0,0);
		opacity: 1;
	}
}
.r-z{
	animation: a-rz 2s infinite linear;
}
@keyframes a-rz{
	20%{
		transform: scale(1.1,1.1);
	}
	40%{
		transform: scale(1,1);
	}
	60%{
		transform: scale(1,1);
	}
	80%{
		transform: scale(.9,.9);
	}
}
.x-titles{
	animation: a-panel-general-link .4s ease-in-out;
}
@keyframes a-panel-general-link{
	from{
		transform: translate(-5em,0);
		opacity: 0;
	}
	60%{
		transform: translate(1em,0);
	}
}
.fraction{
	animation: a-fraction .6s ease-in-out;
}
@keyframes a-fraction{
	from{
		transform: scale(1.5,1.5);
		opacity: 0;
	}
}
.flex-fraction:nth-child(1) .panel-general-link,
.flex-fraction:nth-child(1) .a-link{
	animation: a-panel-general-link-a .8s ease-in-out;
}
@keyframes a-panel-general-link-a{
	from{
		width: 75%;
		filter: brightness(999%);
		transform: rotateX(3600deg) translate(115%);
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	40%{
		transform: rotateX(80deg) translate(115%);
	}
	60%{
		filter: brightness(700%);
	}
}
.flex-fraction:nth-child(2) .panel-general-link,
.flex-fraction:nth-child(2) .a-link{
	animation: a-panel-general-link-b .8s ease-in-out;
}
@keyframes a-panel-general-link-b{
	from{
		width: 75%;
		filter: brightness(999%);
		transform: rotateX(3600deg) translate(-115%);
		opacity: 0;
	}
	40%{
		transform: rotateX(80deg) translate(-115%);
	}
	60%{
		filter: brightness(700%);
		opacity: 1;
	}
}
.detail-site-review{
	animation: a-detail-site-review 2s ease-out;
}
@keyframes a-detail-site-review{
	from{
		background: -webkit-linear-gradient(
			top,
			rgba(0,255,255,.05) 10%,
			transparent,
			rgba(0,255,255,.05) 90%) left no-repeat;
		background-size: 0% 100%;
	}
	to{
		background: -webkit-linear-gradient(
			top,
			rgba(0,255,255,.05) 10%,
			transparent,
			rgba(0,255,255,.05) 90%) left no-repeat;
		background-size: 100% 100%;
	}
}
#rings-wrapper > div{
	animation: a-rings-wrapper-div 1s ease-in-out;
}
@keyframes a-rings-wrapper-div{
	from{
		transform: scale(2,2);
		opacity: 0;
	}
}
.bright-element{
	animation: a-bright-elem .15s ease-in-out;
	animation-iteration-count: 3;
}
@keyframes a-bright-elem{
	30%{
		transform: scale(1,1);
	}
	40%{
		transform: scale(1.1,1.1);
	}
	50%{
		filter: brightness(999%);
		transform: scale(.9,.9);
	}
	60%{
		transform: scale(1.1,1.1);
	}
	70%{
		transform: scale(1,1);
	}
}
#progress-bar-value{
	animation: a-progressbar-value 1s ease-in-out;
}
@keyframes a-progressbar-value{
	from{
		opacity: 0;
		width: 0;
	}
	20%{	
		opacity: 1;
	}
	60%{
		width: 100%;
		opacity: 1;
	}
	to{
		outline: 1px solid rgba(0,255,255,0);
		outline-offset: 3em;
		opacity: 0;
	}
}
#sub-footer-wrapper{
	animation: a-subfooter-wrapper 2.2s ease-in-out;
}
@keyframes a-subfooter-wrapper{
	from{
		opacity: 0;
		transform: scale(1.4,1.4);
	}
	80%{
		opacity: 0;
		transform: scale(1.4,1.4);
	}
}